.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-sa-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}