/* 重置css默认行为 */

* {
  padding: 0;
  margin: 0;
}

/* a元素重置 */
a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

ul,
dl,
ol {
  list-style-type: none;
}

i,
em {
  font-style: normal;
}